{% extends 'base.html' %}
{% block title %}Welcome to Iblogs{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for p in posts %}
        <div class="col s12 m12 post-item">
            <div class="row">
                <div class="col s12 m8 post-content">
                    <div class="post-title">
                        <h3>{{ p.title }}</h3>
                    </div>
                    <div class="post-excerpt" style="font-family:Times New Roman; font-size:19px;">
                        {{ p.content | truncatewords:60 | safe }}
                    </div>
                    <div class="read-more" style="margin-top: 25px;">
                        <a href="/blog/{{p.url}}" target="_blank" class="btn" style="background-color:#92a8d1">Read More..</a>
                    </div>
                </div>
                <div class="col s12 m4 post-image">
                    <img src="{{ p.image.url }}" class="responsive-img" alt="{{ p.title }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
